<div class="panel panel-default col-lg-6 col-md-offset-1 smart-panel">
    <!-- Default panel contents -->

    <div class="panel-heading">
        <h1>
            #if($roomToEdit)
                $roomToEdit.name
            #else
                New room
            #end
        </h1>
    </div>
    <div class="center-form-big">
        #if($addNewRoom)
        <form role="form" method="post" action="/rooms" style="max-width: 300px;">
        #else
        <form role="form" method="post" action="/rooms/$roomToEdit.id" style="max-width: 300px;">
        #end
            <div class="form-group">
                #if($roomToEdit)
                    <input type="text" name="name" id="name" placeholder="Room name" value="$roomToEdit.name"
                           class="form-control"/>
                #else
                    <input type="text" name="name" id="name" placeholder="Room name" class="form-control"/>
                #end
            </div>
            <button type="submit" class="btn btn-default save-button" aria-label="Left Align">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
            &nbsp;

        </form>
    </div>

</div>