<ul class="list-group">
    #foreach($room in $rooms)
        <a href="/rooms/$room.id" class="list-group-item">
            <div>
                <h4>${room.name}</h4>
            </div>
        </a>
    #end

    #if($roomCount == 0)
        <br/>
        <div class="center-form-big">
            <h3>Brak dodanych pokoi</h3>
        </div>
        <br/>
    #end
</ul>