<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple page</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    #parse("/public/navbar.vm")
<script type="text/javascript"> $('#rooms-tab').addClass("active") </script>
<div class="main-container">

    #if($errors)
        #foreach($error in $errors)
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span>$error</span>
            </div>
        #end
    #end

    <div class="container">
        #parse("/public/reusable-panel.vm")

    #if($room)
        #parse("/public/rooms/room-details.vm")
    #elseif($addNewRoom)
        #parse("/public/rooms/add-room-panel.vm")
    #end
    </div>

</div>

</body>
</html>