<div class="panel panel-default col-lg-6 col-md-offset-1 smart-panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h1>
            $room.name

            #if($isAdmin)
                <a href="/rooms/$room.id/edit" class="edit-buttons">
                    <button type="button" class="btn btn-default edit-button" aria-label="Left Align">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </a>
                <form role="form" action="/rooms/$room.id/delete" method="post" class="delete-button edit-buttons">
                    <input type="hidden" name="CSRFToken" value="$csrfToken"">
                    <input type="hidden" name="roomToDeleteId" id="roomToDeleteId"
                           value=$room.id/>
                    <button type="submit" class="btn btn-default delete-button" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </form>
            #end
        </h1>
    </div>

    #if($isAdmin)
        <div class="panel-body">
            <div class=" col-lg-12">
                <ul class="list-group details-list-group">
                    <li class="list-group-item">
                        <h4>Użytkownicy</h4>
                        <form role="form" action="/rooms/$room.id/edit/users" method="post"
                              class="edit-buttons">
                            <input type="hidden" name="CSRFToken" value="$csrfToken">
                            #if($users.size() > 0)
                                <input type="hidden" name="userToAddId" id="userToAddId" value="$users.get(0).id"/>
                            #else
                                <input type="hidden" name="userToAddId" id="userToAddId"/>
                            #end
                            <button type="submit" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </form>

                        <div id="popUpDiv">
                            <select id="loginSelect" onchange="loginChanged()">
                                #foreach($user in $users)
                                    <option value="$user.id">$user.login</option>
                                #end
                            </select>
                        </div>
                        <br/>
                        #if($roomUsers.size() == 0)
                            <p>Brak dodanych modułów</p>
                        #else
                            #foreach($roomUser in $roomUsers)
                                <button type="button" class="label label-default" onclick="onUserClick('$roomUser.id')">
                                    $roomUser.login
                                </button>
                            #end
                        #end

                        <script type="text/javascript">
                            function loginChanged() {
                                var changedId = document.getElementById("loginSelect").value;
                                document.getElementById('userToAddId').value = changedId;
                                console.log(changedId);
                                console.log(document.getElementById("loginSelect").text);
                            }
                            function onUserClick(elem) {
                                console.log(elem);
                                var userToDeleteId = elem;
                                if (confirm("Czy chcesz usunąć przypisanie tego użytkownika do pokoju?") == true) {
                                    var form = document.createElement("form");
                                    form.setAttribute("method", "post");
                                    form.setAttribute("action", "/rooms/$room.id/edit/users/delete");
                                    var hiddenField = document.createElement("input");
                                    hiddenField.type = "hidden";
                                    hiddenField.id = "userToDeleteId";
                                    hiddenField.name = "userToDeleteId";
                                    hiddenField.value = userToDeleteId;
                                    form.appendChild(hiddenField);

                                    hiddenField = document.createElement("input");
                                    hiddenField.type = "hidden";
                                    hiddenField.id = "CSRFToken";
                                    hiddenField.name = "CSRFToken";
                                    hiddenField.value = "$csrfToken";
                                    form.appendChild(hiddenField);

                                    document.body.appendChild(form);
                                    form.submit();
                                }
                            }
                        </script>
                    </li>
                </ul>
            </div>
        </div>
    #end

    <div class="panel-body">
        <div class=" col-lg-12">
            <ul class="list-group details-list-group">
                <li class="list-group-item">
                    <h4>Moduły</h4>
                    #if($room.modules.size() == 0)
                        <p>Brak dodanych użytkowników</p>
                    #else
                        #foreach($module in $room.modules)
                            <a href="/modules/$module.id">
                                <button type="button" class="label label-default">
                                    $module.name
                                </button>
                            </a>
                        #end
                    #end
                </li>
            </ul>
        </div>
    </div>

</div>