<ul class="list-group">
    #foreach($user in $users)
        <a href="" class="list-group-item">
            <div>
                <h4>$user.login
                    <div class="admin-button-container">
                        <form role="form" action="/users/$user.id/delete" method="post"
                              class="edit-buttons button-margin">
                            <input type="hidden" name="CSRFToken" value="$csrfToken"">
                            <div>
                                <button type="submit" class="btn btn-mini btn-danger">Usuń</button>
                            </div>
                        </form>

                        #if(!$user.confirmed)
                            <form role="form" action="/users/$user.id/activate" method="post" class="edit-buttons">
                                <input type="hidden" name="CSRFToken" value="$csrfToken">
                                <div>
                                    <button type="submit" class="btn btn-mini btn-primary">Aktywuj</button>
                                </div>
                            </form>
                        #end
                    </div>
                </h4>
            </div>
        </a>
    #end

    #if($users.size == 0)
        <br/>
        <div class="center-form-big">
            <h3>Brak dodanych użytkowników</h3>
        </div>
        <br/>
    #end
</ul>