<div class="panel panel-default col-lg-4 smart-panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h1>
            Moduły mDNS
        </h1>

    </div>

    <!-- List group -->

    <ul class="list-group">
        #foreach($service in $services)
            <a class="list-group-item">
                <div>
                    <h4>${service.name}</h4>
                    #if($service.connected)
                        <span class="badge">
                            POŁĄCZONO
                        </span>
                    #else
                        <form role="form" method="post" action="/modules">
                            <input type="hidden" name="CSRFToken" value="$csrfToken">
                            <input type="hidden" name="moduleToConnectName" id="moduleToConnectName"
                                   value="$service.name"/>
                            <button type="submit" class="btn btn-default" aria-label="Left Align">
                                POŁĄCZ
                            </button>
                            &nbsp;
                        </form>
                    #end
                </div>
            </a>
        #end

        #if($serviceCount == 0)
            <br/>
            <div class="center-form-big">
                <h3>Brak odnalezionych modułów</h3>
            </div>
            <br/>
        #end
    </ul>
</div>