<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple page</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="my-header alert alert-success" role="alert">
    <h1>This is simple html page from jsp</h1>
</div>


<div class="my-jumbotron jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

    #foreach( $row in $rows)
    <div class="my-header2 alert alert-info" role="alert">
        $row.text and text

    </div>
    #end

</body>
</html>