.top-bar {
    color: #FFB300;
    background: #FFB300;
    height: 100px;
    padding-left: 50px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.top-bar a {
    color: #FFFFFF;
    text-decoration: none;
}

.smart-navbar {
    margin-top: 2px;
}

.top-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.white-title {
    color: white;
    position: absolute;
    bottom: 20px;
}

.center-form {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-form-big {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.main-container {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.edit-buttons {
    float: right;
    display: inline-block;
}

.smart-panel {
    padding-left: 0;
    padding-right: 0;
}

#popUpDiv {
    float: left;
    display: inline-block;
}

.alert {
    width: 500px;
}

#navbar-user-panel {
    color: white;
    display: block;
    right: 50px;
    position: absolute;
    bottom: 20px
}

.menu-center button {
    width: 300px;
    height: 100px;
    margin: 10px;
    background-color: #FFB300;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}