<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Dom</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    #parse("/public/navbar.vm")
<script type="text/javascript"> $('#menu-tab').addClass("active") </script>

<div class="main-container">

    <div class="menu-center">
        <div>
            <a href="/rooms" class="edit-buttons">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <h3>POKOJE</h3>
                </button>
            </a>
        </div>
        <div>
            <a href="/modules" class="edit-buttons">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <h3>MODUŁY</h3>
                </button>
            </a>
        </div>
        <div>
            <a href="/users" class="edit-buttons">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <h3>UŻYTKOWNICY</h3>
                </button>
            </a>
        </div>
    </div>

</div>

</body>
</html>