<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Dom</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    #parse("/public/navbar.vm")

<div class="main-container">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span>Strona o podanym adresie nie istnieje.</span>
    </div>
</div>

</body>
</html>