<ul class="list-group">
    #foreach($module in $modules)
        <a href="/modules/$module.id" class="list-group-item">
            <div>
                <h4>${module.name}</h4>
            </div>
        </a>
    #end

    #if($moduleCount == 0)
        <br/>
        <div class="center-form-big">
            <h3>Brak dodanych modułów</h3>
        </div>
        <br/>
    #end
</ul>