<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moduły</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    #parse("/public/navbar.vm")
<script type="text/javascript"> $('#modules-tab').addClass("active") </script>

<div class="main-container">

    #if($errors)
        #foreach($error in $errors)
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span>$error</span>
            </div>
        #end
    #end

    <div class="container">
        #parse("/public/reusable-panel.vm")

    #if($editModule)
        #parse("/public/modules/edit-module-panel.vm")
    #elseif($addNewModule)
        #parse("/public/modules/add-module-panel.vm")
    #elseif($module)
        #parse("/public/modules/module-details.vm")
    #end
    </div>

    <div id="found-modules-container" class="container">
        <div id="found-modules">
            #parse("/public/dnsModulesPanel.vm")
        </div>
    </div>


</div>

</body>
</html>

<script type="text/javascript">
    setInterval(function () {
        $("#found-modules-container").load("/modules #found-modules");
    }, 3000);
</script>