<ul class="list-group">
    #foreach($module in $modules)
        <a href="/modules/$module.id" class="list-group-item">
            <div>
                <h4>
                    #if($module.connectionType == "BLE")
                        <img src="/images/bluetooth.png" alt="bluetooth" style="width:32px;height:32px;"/>
                    #else
                        <img src="/images/wifi.png" alt="wifi" style="width:32px;height:32px;"/>
                    #end
                    ${module.name}</h4>
            </div>
        </a>
    #end

    #if($moduleCount == 0)
        <br/>
        <div class="center-form-big">
            <h3>Brak dodanych modułów</h3>
        </div>
        <br/>
    #end
</ul>