<a href="/modules/new">
    <button type="button" class="btn btn-default add-new-button" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</a>